.listall-product {
    position: absolute;
        width: 20%;
        height: 100%;
        background-color: #fff;
}

.all {
    width: 100%;
    height: 50px;
    background-color: #fff;
}

.shop-man {
    color: rgb(238, 77, 45);
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 19px;
}

.span1 {
    font-weight: bold;
    margin-left: 20px;
}

.fashion {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #fff;
    font-size: 14px;
    display: flex;
    background-color: #fff;
    flex-direction: column;
}

.fashion2 {
    position: relative;
    width: 100%;
    height: 170px;
    background-color: #fff;
    font-size: 14px;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    border-bottom: 1px rgb(47, 46, 46, .3) dashed;
}

.fashion span {
    width: max-content;
    height: 30px;
    position: relative;
    left: 20px;
    cursor: pointer;
}

.fashion2 span {
    width: max-content;
    height: 30px;
    position: relative;
    left: 20px;
    cursor: pointer;
}

.listall-filter {
    width: 100%;
    height: 50px;
    background-color: #fff;
}

.listall-filter2 {
    position: relative;
    width: 100%;
    height: 140px;
    background-color: #fff;
    font-size: 14px;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    border-bottom: 1px rgb(47, 46, 46, .3) dashed;
}

.listall-filter3 {
    position: relative;
    width: 100%;
    height: 130px;
    background-color: #fff;
    font-size: 14px;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    border-bottom: 1px rgb(47, 46, 46, .3) dashed;
}

.listall-filter4 {
    position: relative;
    width: 100%;
    height: 150px;
    background-color: #fff;
    font-size: 14px;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    border-bottom: 1px rgb(47, 46, 46, .3) dashed;
}

.listall-input {
    width: 80px;
    height: 30px;
}

.listall-input2 {
    width: 80px;
    height: 30px;

}

.listall-filter5 {
    position: relative;
    width: 100%;
    height: 150px;
    background-color: #fff;
    font-size: 14px;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    border-bottom: 1px rgb(47, 46, 46, .3) dashed;
}

.listall-filter6 {
    position: relative;
    width: 100%;
    height: 150px;
    background-color: #fff;
    font-size: 14px;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    border-bottom: 1px rgb(47, 46, 46, .3) dashed;
}

.listall-filter7 {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #fff;
    font-size: 14px;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    border-bottom: 1px rgb(47, 46, 46, .3) dashed;
}

.listall-filter8 {
    height: 200px;
    border-bottom: 1px rgb(47, 46, 46, .3) dashed;
}


.listall-filter9 {
    position: relative;
    width: 100%;
    height: 150px;
    background-color: #fff;
    font-size: 14px;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    border-bottom: 1px rgb(47, 46, 46, .3) dashed;
}

button {
    background-color: rgb(238, 77, 45);
    border-radius: 1px solid #fff;
}